.List-container {
  text-align: center;
  z-index: 99999;
  padding: 2.4% 3%;
  margin: 0;
  letter-spacing: 1.4px;
  position: relative;
  .appear {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 120%;
    .not {
      svg {
        color: transparent;
      }
      &:hover {
        svg {
          color: gray;
        }
      }
    }
    .Selected {
      svg {
        color: $strong;
      }
    }
    .Button {
      &:first-of-type:before {
        content: "";
        display: block;
        position: absolute;
        top:0;
        left:10%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        margin: -10px 0 0 30px;
      }
      text-align: start;
      position: relative;
      outline-width: 0;
      justify-content: space-around;
      display: flex;
      transition: 0.3s;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      border: none;
      background-color: $color3;
      height: 0;
      span {
        font-family: "Roboto", sans-serif;
        flex-grow: 2;
        font-size: 0.7rem;
      }
      svg {
        height: 0.7rem;
        width: 0.7rem;
        flex-grow: 1;
      }
      
      &:first-of-type:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 80%;
        transition: 0.2s ease;
        background-color: gray;
        bottom: 0;
        //left: 30%;
      }
      &:focus {
     //   background-color: $secondary;
      }
      &:hover {
        &:before {
          //background-color: gray;
        }
        border-bottom-color: gray;
      }
    }
    &:hover {
      box-shadow: -1px 2px 3px 0px #00000018;
      .Button {
        height: 5vh;
        opacity: 1;
      }
    }
  }
}
