.List-container {
  text-align: center;
  z-index: 99999;
  padding: 2.4% 3%;
  margin: 0;
  letter-spacing: 1.4px;
  position: relative;
  .Button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.st0{fill:cornflowerblue;}
