.Skills{
    display:flex;
    flex-wrap: wrap;
    button{
        font-size: 0.8rem;
        opacity:0.8;
        padding:5px 10px;
        border-radius:0.8rem;
        background-color: var(--secondary);
        border:solid 1px rgba(128, 128, 128, 0.288);
        margin:5px;
        margin: 5px;
        cursor:pointer;
        transition:all ease 0.2s;
        &:hover{
            background: var(--strong);
            color:#fff;
        }
        &:focus{
            transform:scale(1.2);
            background: var(--strong);
            color:#fff;
        }
    }
}