:root {
  --border: #0c08082e;
  --color3: #ffff;
  --secondary: #08090d;
  --gray:#777;
  --contrary: rgb(0, 0, 0);
  --icons: #4996de;
  --strong: rgb(82, 220, 144);
  --blue: #80a6d4;
  --rojo: #f36e87;
  --card: #efefef8c;
  --purple: #d26ef3;
  --blue-shadow: #80a6d473;
}
