
// content box styles this box contains everything 
.content {
    background-color: var(--secondary);
    width: 87vw;
    margin-top:3%;
    border-radius: 0.6em;
  }
  //cellphone styles
  @media only screen and (max-width: 640px) {
   .content{
     margin-top:0;
     width:100%!important;
   }
  }
  