@import "./themes/varscss.scss";
/*        fonts            */
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  }
@font-face {
    font-family: "Solway";
    src: url("./fonts/Solway-Regular.ttf");
}

$color : #0c08082e;
html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #80a6d4;
  flex-wrap: wrap;
}
*,
*:before,
*:after {
  color:var(--contrary);
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* general Classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


