$main-color:aliceblue;
$shadow-color:rgb(0, 0, 0);
$complete:100%;
$black:#0a0a0d;
$blue:#064973;
$meat:#a6615b;
$sutil:#bf8a7e;
$blanco:#ebf1f2;
$transparent:#c6ced300;
$buenBlanco:#ebf1f2;
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: $complete;
    background-image: linear-gradient(to right top, #ebf1f2, #afc6ce, #779bae, #437290, #064973);
    background-repeat: no-repeat;
    height: $complete;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    &>.App {
        max-width: 1500px;
        max-height: 900px;
        width: $complete;
        height: $complete;
        display: flex;
        flex-direction: column;
    }

}
/*cover page*/
.flex-cover {
    color: $main-color;
    opacity: 0.9;
    background-image: url("./resources/jonathan-francisca-1490967-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    h1 {
        font-size: 10vh;
        text-shadow: 3px 6px 7px $shadow-color;
    }
}
/*.moon {
    width: $complete;
    display: flex;
    flex-direction: column;
}*/
//container default settings
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu*/
.content{
    width: 100%;
    flex-direction:column;
    background: $buenBlanco;
}
.navigation-center {
    flex-direction: row;
    width: $complete;
/*link index .navigation-links>*/
    &>.navigation-links {
        flex-direction: column;
        &>a{
            padding: 1em 3em;
            color: $black;
            text-decoration: none;
            font-size: 2.5vh;
            transition:all 500ms;
            &:hover+.index {
                background: $black;
                width: 8vw;
            }
            &:hover{
               box-shadow: inset 0px 0px 15px 0px #0649733b;
            }
            &:focus{
                box-shadow: inset 0px 0px 15px 0px #0649733b;
            }
        }
        &>.index{
            width: 1vw;
            height: 0.2vh;
            background: transparent;
            transition: 0.5s;
          //  border-radius: 0.5em;
            position: relative;
            &:hover {
                width: 3px;
            }

            &>.bookmark {
                position: absolute;
                width: 5vw;
                height: 0.2vh;
                background: #0a0a0dbf;
                //border-radius: 0.5em;
            }
        }
    }
}


/* pincipal content*/
.W-content {
    height: 70vh;
    position: relative;
    &>.navigation {
        position: absolute;
        width: 100vh;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        &-contact {
            flex-direction: column;
            &>.contact>a {
                padding: 1em 0em;
                color: $blue;
                margin: 1em;
            }
        }
        &-content{
            flex-direction: row;
            &>.About {
                padding: 2em;
                color: #0a0a0dd6;
                letter-spacing: 1.5px;
                text-shadow: 2px 2px 13px #46463d52;
                &>.yo {
                    border-radius: 150px;
                }
            }
        }
    }
    &>.name {
        background: $transparent !important;
        box-shadow: none !important;
    }
}
/*links footer*/
.footer {
    height: 40vh;
    background: $blanco;
    &>a {
        margin: 2em;
    }
}

