$main-color:aliceblue;
$shadow-color:rgb(0, 0, 0);
$complete:100%;
$black:#0a0a0d;
$blue:#064973;
$meat:#a6615b;
$sutil:#bf8a7e;
$blanco:#ebf1f2;
$transparent:#c6ced300;

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    width: $complete;
    justify-content: center;
    background-image: linear-gradient(to right top, #ebf1f2, #afc6ce, #779bae, #437290, #064973);
    background-repeat: no-repeat;
    height: $complete;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    .App {
        display: flex;
        max-width: 1500px;
        max-height: 900px;
        width: $complete;
    }

}

#main {
    width: $complete;
    display: flex;
    flex-direction: column;
}

.moon {

    width: $complete;
    display: flex;
    flex-direction: column;
}

.wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
    .navigation-center {
        display: flex;
        flex-direction: row;
        width: $complete;
        .navigation-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &>a {
                padding: 1em 3em;
                color: $main-color;
                text-decoration: none;
                font-size: 2.5vh;

                &:hover+.index {
                    background: $main-color;
                    width: 7vw;
                }
            }
            &>.index {
                width: 1vw;
                height: 0.5vh;
                background: transparent;
                transition: 1s;
                border-radius: 0.5em;
                position: relative;
                display: flex;
                justify-content: center;

                &:hover {
                    width: 3px;
                }
                &>.bookmark {
                    position: absolute;
                    width: 5vw;
                    height: 0.5vh;
                    background: $main-color;
                    border-radius: 0.5em;
                }
            }
        }
    }





/*cover page*/
.flex-cover {
    color: $main-color;
    opacity: 0.9;
    background-image: url("./resources/jonathan-francisca-1490967-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    h1 {
        font-size: 10vh;
        text-shadow: 3px 6px 7px $shadow-color;
    }
}

/* menu*/

/*link boxes*/



/*link index .navigation-links>*/


/* pincipal content*/


.W-content {
    height: 70vh;
    position: relative;

    &>.navigation-content {
        background: $blanco;
        box-shadow: 7px 6px 8px 7px $black;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        //  max-width: 80vh;
        width: $complete;
        &>.About {
            padding: 2em;
            color: $black;

            &>.yo {
                border-radius: 150px;
            }
        }

    }
    &>.navigation-contact{
        background: $blanco;
        box-shadow: 7px 6px 8px 7px $black;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1em;
        &>.contact >a{
            padding:1em 0em;
            color:$blue;
            margin:1em;
        }
    }
    &>.name {
        background: $transparent !important;
        box-shadow: none !important;
    }
}

/*links footer*/
.footer {
    height: 40vh;
    background: $blanco;
    display: flex;
    align-items: center;
    justify-content: center;

    &>a {
        margin:2em;
    }
}

@media screen and (max-width: 730px) {
.final::-webkit-scrollbar{
    display:none!important;
}
.navigation-center{
       top:0;
       left:0;
       width: 100%;
       height: 12vh;
       position: fixed;
       white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        webkit-overflow-scrolling:touch;
        &>.navigation-links{
            &>a{
                padding: 1.3em!important;
            }
        }
    } 
   div> a:hover{
       background-color: #bbbbbb;
    }
    .wrapper { 
        margin:0px;
    }
    .W-content {
        height: 30rem;
        width: 90vw;
        &>.navigation-content {
            margin-top:60px;
            margin-bottom:60px;
            flex-direction: column;
            box-shadow:none;
            width: 90vw;
            &>.About {
                padding:1em;
                &>.yo {
                    width: 150px;
                    height: 150px;
                    border-radius: 75px;
                }
            }
    
        }
        &>.navigation-contact{
           
            &>.contact >a{
                
            }
        }
        &>.name {
            background: $transparent !important;
            box-shadow: none !important;
        }
    }

}

